/*--------------------------------------------------------------------------
globals and imports
--------------------------------------------------------------------------*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*--------------------------------------------------------------------------
media queries 
--------------------------------------------------------------------------*/

@media (max-width: 767.98px) {
  .navbar-nav {
    padding-left: 25px;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .nav-link {
    padding: 20px;
  }
}

/*--------------------------------------------------------------------------
fonts 
--------------------------------------------------------------------------*/

@font-face {
  font-family: GreatVibes;
  src: url('./fonts/GreatVibes-Regular.otf');
}

@font-face {
  font-family: Kaushan;
  src: url('./fonts/KaushanScript-Regular.otf');
}

@font-face {
  font-family: Dancing;
  src: url('./fonts/DancingScript-Regular.ttf');
}

@font-face {
  font-family: 'Dancing Bold';
  src: url('./fonts/DancingScript-Bold.ttf');
}
